body {
   color: black;
   background: white;
   margin: 0;   
}

div.title {
  color: white;
  background: black;
  padding: 1em;
  font-size: 125%;
}
div.title a {
  color: white;
}
div.content {
  padding: 1em;
}