html {
	font-family: SegoeUI, "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

h1 {
	page-break-before: always;
}

pre, code {
	background-color: #eee;
	font-family: dejamono, "DejaVu Sans Mono", "Courier New", Courier, monospace;
	font-size: 8pt;
}

code {
	font-weight: bold;
	color: #333;
	/* text-decoration: underline; */
	font-size: 8pt;
}

.del {
	text-decoration: line-through;
}

p, pre {
	margin-top: 1em;
	margin-bottom: 1em;
}

.license {
	font-size: 8px;
	line-height: 110%;
}


.title {
	font-size: 300%;
	font-weight: bold;
	margin-top: 20pt;
	margin-bottom: 20pt;
}

.subtitle {
	font-size: 150%;
	font-weight: bold;
	margin-top: 20pt;
	margin-bottom: 20pt;
}

#footer {
	text-align: right;
}

i, em {
	font-style: normal;
	color: #990000;
	font-weight: bold;
}

a {
	color: #000066;
}

pdftoc {
}

pdftoc.pdftoclevel0 {
	font-weight: bold;
	margin-top: 0.5em;
}

pdftoc.pdftoclevel1 {
	margin-left: 1em;
}

pdftoc.pdftoclevel2 {
	margin-left: 2em;
	font-style: italic;
}

h2 {
	margin-top: 1.5em;
	font-size: 125%;
	color: #666;
}

h3 {
	font-size: 100%;
	color: #000000;
}

@media print {

	@font-face {
		font-family: "DejaVu Sans Mono", dejamono;
		src: url(DejaVuSansMono.ttf);
	}

	@font-face {
		font-family: "DejaVu Sans Mono", dejamono;
		font-weight: bold;
		src: url(DejaVuSansMono-Bold.ttf);
	}

	/*
	@font-face {
		font-family: "Segoe UI", SegoeUI;
		src: url("SEGOEUI.afm");
	}

	@font-face {
		font-family: "Segoe UI", SegoeUI;
		src: url("SEGOEUIB001.TTF");
		font-weight: bold;
	}

	@font-face {
		font-family: "Segoe UI", SegoeUI;
		src: url("SEGOEUII001.TTF");
		font-style: italic;
	}

	@font-face {
		font-family: "Segoe UI", SegoeUI;
		src: url("SEGOEUIZ001.TTF");
		font-weight: bold;
		font-style: italic;
	}
	*/

	@page {

		-pdf-page-orientation: portrait;
		-pdf-page-size: a4;

		/* background-image: url(background.pdf); */

		margin-top: 2cm;
		margin-left: 4cm;
		margin-right: 2cm;
		margin-bottom: 3cm;

	}

	@page regular {

		-pdf-page-orientation: portrait;
		-pdf-page-size: a4;

		/* background-image: url(background.pdf); */

		margin-top: 2cm;
		margin-left: 4cm;
		margin-right: 2cm;
		margin-bottom: 3cm;

		@frame footer-number {
			-pdf-frame-content: footer-number;
			bottom: 2cm;
			left: 4cm;
			right: 2cm;
			height: 1cm;
		}

		@frame footer-pisa {
			-pdf-frame-content: footer-pisa;
			bottom: 2cm;
			left: 4cm;
			right: 2cm;
			height: 1cm;
			color: #333;
		}

	}

}

#footer, #navcontainer {
	display:none;
}
